<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-img style="margin: 0 auto; max-width: 30vh;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Logo_DuocUC.svg/1067px-Logo_DuocUC.svg.png"></ion-img>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<br>
<br>
  <ion-card>
    <ion-card-header> 
      <ion-card-title></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form action="/home">
        <ion-item>
          <ion-label position="floating">Nombre de Usuario</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
        <br>
        <a href="/home"><ion-button expand="block">INGRESAR</ion-button></a>
        <br>
        <a href="/restablecer" class="ion-text-center">Restablecer Contraseña?</a>
        <br>
      
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>