<ion-header [translucent]="true">
  <ion-toolbar>
    <a href="/login" ><ion-img style="margin: 0 auto; max-width: 30vh;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Logo_DuocUC.svg/1067px-Logo_DuocUC.svg.png"></ion-img> 
      <ion-icon name="arrow-back-outline" style="font-size: 25px;"></ion-icon>
    </a>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="camera-outline" (click)="takePicture()"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>

<ion-footer>
  <center>
  <ion-toolbar>
    <ion-title>Bienvenido @usuario</ion-title>
  </ion-toolbar>
</center>
</ion-footer>