<ion-header [translucent]="true">
  <ion-toolbar>
    <a href="/login"><ion-icon name="caret-back-sharp"></ion-icon></a>
    <ion-title>
      
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="camera-outline" (click)="takePicture()"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Bienvenido @usuario</ion-title>
  </ion-toolbar>
</ion-footer>